a {
	font-size: 100pt;
	text-decoration: none;
	color: black;
	position: relative;
	top: 50px;
}

img {
	border: 2px solid lightgray;
	width: 300px;
	height: 300px;
	vertical-align: middle;
	position: relative;
}













