	</div>
	
	<!-- footer -->
	<div class="container p-1 my-5 bg-dark text-white">
		<hr/>
		<p>
			&copy; Copyright 블라블라~~~~~ <a href="#">링크1</a> <a href="#">링크2</a>
		</p>
	</div>
	
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>	
</body>
</html>