{{>./layouts/header}}

<table class="table">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Title</th>
			<th scope="col">Content</th>
		</tr>
	</thead>
	<tbody>
		<!-- mustache에서 Model 인터페이스 객체에 저장되서 넘어온 데이터의 사용 범위를 지정한다. -->
		{{#article}} <!-- article 사용 시작 -->
		<tr>
			<td>{{id}}</td> <!-- 넘어온 객체의 멤버를 얻어온다. -->
			<td>{{title}}</td>
			<td>{{content}}</td>
		</tr>
		{{/article}} <!-- article 사용 끝 -->
	</tbody>
</table>

<!-- 글 목록보기 링크 추가 -->
<a href="/articles" class="btn btn-outline-primary" style="font-size: 14px;">목록보기</a>
<!-- 글 수정 링크 추가 -->
<!-- <a href="/articles/{{id}}/edit" class="btn btn-outline-success" style="font-size: 14px;">수정하기</a> -->
<!-- 사용범위 외부에서는 Model 객체에 담겨서 넘어오는 내용에 "."을 찍어서 접근하면 된다. -->
<a href="/articles/{{article.id}}/edit" class="btn btn-outline-success" style="font-size: 14px;">수정하기</a>
<!-- delete 방식으로 처리해야 하지만 지금은 a 태그로 처리하고 js로 나중에 처리한다. -->
<a href="/articles/{{article.id}}/delete" class="btn btn-outline-danger" style="font-size: 14px;">삭제하기</a><br/><br/>

<!-- 댓글 목록 출력 -->
{{>./comments/comments}}

<!-- 새 댓글 작성 -->
{{>./comments/newComment}}

{{>./layouts/footer}}











